1\. feladat

In [ ]:
SELECT szh.SZALLAS_ID, szh.SZALLAS_NEV, COUNT(*) AS 'Klímás szobák száma'
FROM Szallashely szh
JOIN Szoba sz ON szh.SZALLAS_ID=sz.SZALLAS_FK
WHERE sz.KLIMAS LIKE 'i'
GROUP BY szh.SZALLAS_ID, szh.SZALLAS_NEV

2\. feladat

In [36]:
SELECT sz.SZOBA_ID AS 'Azonosító', YEAR(f.METTOL) AS 'Évszám', COUNT(*) AS 'Foglalások száma'
FROM Szoba sz
JOIN Foglalas f ON sz.SZOBA_ID=f.SZOBA_FK
WHERE NOT (sz.SZOBA_SZAMA%2=0)
GROUP BY sz.SZOBA_ID, YEAR(f.mettol)
HAVING COUNT(*)>10

Azonosító,Évszám,Foglalások száma
58,2016,12